html, body {
    background: black;
    color: white;
}

a {
    color: cornflowerblue;
}

.gold {
    color: darkgoldenrod;
}

.pink {
    color: hotpink;
}


.team-link {
    color: deeppink;
}

.bv {
    color: blueviolet;
}

.brick {
    color: firebrick;
}

.lightgreen {
    color: lightgreen;
}

.green {
    color: forestgreen
}
